# 📘 Python Exercises on Data Types and Debugging

This notebook contains practical exercises on fundamental Python data types (int, float, str, boolean, list, function). The goal is to understand data types and operations between them.
## INSTRUCTIONS
- Try to write the code (instead of the dots (...)) by yourself based on basic instructions provided in the notebook Lesson 1.
- Run the cell and, in case, try to fix the error comparing with code in notebook Lesson 1. This phase is IMPORTANT to fix in memory commands and syntax
- If you still have problems, go to ChatGPT and write "create a python code that perform ..exercise..instructions". Cut and paste the code in a new notebook cell 
- Customize the code if necessary and run it. 
- IMPORTANT: go through each single instructions of the new code and try to execute mentally the code in order to understand the flow of the program and the meaning of the commands. There are 2 goals here. First: fix commands meaning and syntax. Second: understand solution strategy
- COMPARE the new code with previous code in order to understand the errors you made

You can also go to stackoverflow to ask question about python code.

### Task 1-A: String Concatenation
Create two strings: s1 = "Hello" and s2 = "World". Concatenate them with a space in between and print the result.

### Task 1-B: String Slicing
Given the string s = "PythonProgramming", extract and print the substring "Programming".

### Task 1-C: String Repetition
Create a string s = "ha" and repeat it 3 times using the * operator. Print the result.

### Task 1-D: String Length
Given the string s = "Supercalifragilisticexpialidocious", calculate and print its length using the len() function.

### Task 1-E: String Formatting
Create two variables: 
name = "Alice" and age = 25. 
Use an f-string to print the following sentence: "My name is Alice and I am 25 years old."


NB: ask chatGPT to create a f-string

### Task 2-A: Logical OR operation

LOGICAL OR HAS THE BELOW TRUE TABLE

| A     | B     | A OR B |
|-------|-------|--------|
| False | False | False  |
| False | True  | True   |
| True  | False | True   |
| True  | True  | True   |

In [ ]:
# TRY TO RUN THE CELL WITH DIFFERENT BOOLEAN VALUE OF bool1 and bool2
bool1 = False
bool2 = True
# Assign 'result' the value of bool1 OR bool2
result = ...
print(result)

### Task 2-B: Logical AND operation

LOGICAL OR HAS THE BELOW TRUE TABLE

| A     | B     | A AND B |
|-------|-------|--------|
| False | False | False  |
| False | True  | False  |
| True  | False | False  |
| True  | True  | True   |

In [ ]:
bool1 = False
bool2 = True
# Assign 'result' the value of bool1 AND bool2
result = ...
print(result)

### Task 2-C: Logical NOT operation

LOGICAL NOT HAS THE BELOW TRUE TABLE

| A     |  NOT A |
|-------|--------|
| False | True   |
| True  | False  |

In [ ]:
bool1 = False
# Assign 'result' the value of bool1
result = ...
print(result)

### Task 5: Find the maximum value in a list

In [ ]:
numbers = [3, 7, 2, 9, 5]
# Find the maximum value and assign to 'max_value'
max_value = ...
print(max_value)

### Task 6: Define a function that multiplies two numbers

In [ ]:
def multiply(a, b):
    # Return the product of a and b
    return ...

print(multiply(3, 4))

### Task 7: Extract the first word from a string

### Task 8: Convert float to integer

### Task 9: Append to a List
Given the list colors = ["red", "green", "blue"], append the color "yellow" to the list and print the updated list.

### Task 10: Check if a string contains a character

In [ ]:
text = 'Python programming'
# Check if 'g' is in text and assign the result to 'contains'
contains = ...
print(contains)

### Task 11: Get the first item from a list

In [ ]:
items = ['apple', 'banana', 'cherry']
# Extract the first item and assign to 'first_item'
first_item = ...
print(first_item)

### Task 12: Merge two strings with a space

In [ ]:
str1 = 'Good'
str2 = 'Morning'
# Merge the two strings with a space in between and assign to 'greeting'
greeting = ...
print(greeting)

### Task 13: Get the length of a list

In [ ]:
values = [10, 20, 30, 40]
# Assign 'size' the length of values
size = ...
print(size)

### Task 14: Define a function that returns a tuple

In [ ]:
def create_tuple():
    # Return a tuple with three different values
    return ...

print(create_tuple())

### Task 15: Convert an integer to a string

In [ ]:
num = 123
# Convert num to a string and assign to 'converted'
converted = ...
print(converted)

### Task 16: Reverse a string

In [ ]:
phrase = 'abcdef'
# Reverse phrase and assign to 'reversed_phrase'
reversed_phrase = ...
print(reversed_phrase)

### Task 17: Extract the last three characters of a string

In [ ]:
word = 'Technology'
# Extract the last three characters and assign to 'last_three'
last_three = ...
print(last_three)

### Task 19: Convert an integer to a float

In [ ]:
num = 42
# Convert num to a float and assign to 'converted'
converted = ...
print(converted)

### Task 20: Define a function that returns a boolean

In [ ]:
def is_even(n):
    # Return True if n is even, otherwise False
    return ...

print(is_even(4))

### Task 21: Slice a List
Given the list letters = ["a", "b", "c", "d", "e"], extract and print a sublist containing the second, third, and fourth elements.

## 🛠️ Debugging: Find and Fix the Errors

### Debug 1

In [ ]:
x = 20
y = '10'
result = x - y  # Fix the error
print(result)

### Debug 2

In [ ]:
def add(a, b)
    return a + b
print(add(3, 5))  # Fix the error

### Debug 3

In [ ]:
numbers = [1, 2, 3]
print(numbers[3])  # Fix the error

### Debug 4

In [ ]:
text = 'Coding'
print(text.uppercase())  # Fix the error

### Debug 5

In [ ]:
def greet(name):
print('Hello, ' + name)  # Fix the indentation error
greet('Alice')

### Debug 6

In [ ]:
x = '25'
y = 5
print(x + y)  # Fix the error

### Debug 7

In [ ]:
values = (1, 2, 3)
values[1] = 5  # Fix the error

### Debug 8

In [ ]:
word = 'Python'
print(word[10])  # Fix the error

### Debug 9

In [ ]:
print(hello)  # Fix the error

### Debug 10

In [ ]:
def multiply(a, b):
    return a * b
print(multiply(4))  # Fix the error